<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SuperstoreConnection" providerName= "System.Data.ProviderName"
			 connectionString = "Data Source=DESKTOP-KPKJ23O;Initial Catalog=Superstore;Integrated Security= True; Connect Timeout= 30;"/>
	</connectionStrings>
</configuration>